In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A427-EC2E

 Directory of C:\Users\rakes

13-05-2022  16:29    <DIR>          .
16-12-2021  15:47    <DIR>          ..
17-01-2022  23:33    <DIR>          .conda
17-12-2021  00:29                25 .condarc
17-12-2021  00:29    <DIR>          .continuum
16-12-2021  15:08    <DIR>          .eclipse
01-03-2022  20:17               207 .gitconfig
13-05-2022  16:29    <DIR>          .ipynb_checkpoints
16-12-2021  23:27    <DIR>          .ipython
25-03-2022  13:25    <DIR>          .jupyter
08-02-2022  11:45    <DIR>          .matplotlib
16-12-2021  15:09    <DIR>          .p2
16-12-2021  13:51             6,893 -1.14-windows.xml
15-01-2022  13:39    <DIR>          3D Objects
23-03-2022  13:36             2,436 50_Startups.csv
30-04-2022  21:22    <DIR>          anaconda3
01-04-2022  12:49            23,666 apple.txt
05-02-2022  21:17           100,126 Assignment(Key) (1).docx
14-04-2022  15:13         2,660,989 assignment_Amazon.ipynb
14-04-2022  15:20           317,122 assignment_amazon1.ipynb
08-03-2022  13:17           108,143 assignment1.ipynb
08-04-2022  23:35           145,879 Association Rules.ipynb
27-03-2022  18:00         3,751,311 bank-full.csv
07-02-2022  20:02               116 bar_chart_data.csv
07-02-2022  20:00            44,452 bmi_data.csv
23-03-2022  13:41            46,094 book.csv
23-03-2022  13:42           536,483 book1.csv
01-03-2022  11:18                87 BuyerRatio.csv
06-02-2022  19:58             3,529 Cars.csv
26-02-2022  16:46            29,822 claimants.csv
08-04-2022  23:35           208,677 Clustering.ipynb
06-02-2022  19:58           252,761 Computer_Data.csv
16-12-2021  15:52    <DIR>          Contacts
01-03-2022  11:18            13,423 Costomer+OrderForm.csv
23-03-2022  13:40             1,328 crime_data.csv
01-03-2022  11:18               525 Cutlets.csv
11-04-2022  23:41    <DIR>          data
08-02-2022  20:16             5,311 data_clean.csv
10-02-2022  21:18           175,450 DataFrames.ipynb
25-01-2022  12:13            12,535 Datatypes.ipynb
08-04-2022  23:35           903,007 Decisiontree_company.ipynb
08-04-2022  23:35           199,698 Decisiontree_fraud.ipynb
22-03-2022  12:51               218 delivery_time.csv
25-01-2022  12:13            21,213 dictionary.ipynb
07-02-2022  20:00               111 diet.csv
15-12-2021  21:46    <DIR>          Documents
13-05-2022  15:49    <DIR>          Downloads
28-03-2022  18:55           157,170 EastWestAirlines.csv
16-12-2021  15:08    <DIR>          eclipse
08-02-2022  21:17           378,371 EDA_1_Latest.ipynb
23-03-2022  13:42           170,848 Elon_musk.csv
23-01-2022  15:48    <DIR>          excler datascience
06-01-2022  21:05    <DIR>          Favorites
08-04-2022  23:35           376,088 Forecasting_airline_data.ipynb
08-04-2022  23:35           193,904 Forecasting_Cocacola.ipynb
07-02-2022  20:02            10,202 histogram_data.csv
08-03-2022  20:11           255,988 Hyp_Classwork.ipynb
01-03-2022  11:48             7,649 Hypothesis _Testing_Q4.ipynb
05-11-2019  19:44             5,278 iphone.txt
08-04-2022  23:35           955,418 KNN Glass.ipynb
08-04-2022  23:35           185,863 KNN Zoo.ipynb
01-03-2022  11:18             3,487 LabTAT.csv
16-12-2021  15:52    <DIR>          Links
26-03-2022  17:44            37,326 Logistic Regression.ipynb
06-02-2022  21:51            23,529 MeanMedMode.ipynb
07-02-2022  20:03            21,222 mpg.csv
25-03-2022  17:28           585,911 Multi Linear Regression.ipynb
25-03-2022  19:33           543,745 multi_linear_regression.ipynb
28-12-2021  12:32    <DIR>          Music
23-03-2022  13:41               767 my_movies.csv
11-04-2022  23:44            88,586 MyFeatureExt.ipynb
10-03-2022  22:04           252,175 MyMovieSenti 2.ipynb
08-04-2022  23:35            20,494 Naive Bayes.ipynb
05-11-2019  19:44            44,757 negative-words.txt
08-04-2022  23:35           299,380 Neural Network_Forestfires.ipynb
08-04-2022  23:35           265,145 Neural Network_gas_turbines.ipynb
24-03-2022  11:46            66,355 news_paper.ipynb
24-03-2022  11:21             1,240 NewspaperData.csv
13-01-2022  13:41            10,896 ney year .py
13-05-2022  15:26    <DIR>          OneDrive
08-04-2022  23:35           427,837 PCA Assignment.ipynb
07-02-2022  20:03                79 pie_chart_data.csv
28-11-2018  12:16            19,860 pipeline1.png
05-11-2019  19:44            19,092 positive-words.txt
10-02-2022  23:10             1,165 Probability_Zdist.ipynb
23-03-2022  13:36               468 proble_statement(50_startups).txt
23-03-2022  13:42                85 Problem Statement (RS).txt
17-12-2021  00:23    <DIR>          PycharmProjects
20-03-2022  20:59            41,231 Q1 hypothesistesting.ipynb
20-03-2022  21:00            75,356 Q2 Hypothesis testing.ipynb
20-03-2022  21:03            15,853 Q3 Hypothesis testing.ipynb
20-03-2022  21:10             8,169 Q4 Hypothesis Testing .ipynb
06-02-2022  19:58               962 Q7.csv
06-02-2022  19:58               502 Q9_a.csv
06-02-2022  19:58             2,420 Q9_b.csv
19-02-2022  15:18             3,000 question1boxplot.png
19-02-2022  15:16            63,878 Question1piechart.png
12-04-2022  15:31           208,656 RAKESH_S_ASSOCIATION_RULES_ASSIGNMENT.ipynb
28-03-2022  20:57           271,588 Rakesh_S_Clustring_Assignment.ipynb
22-03-2022  12:16           560,899 Rakesh_S_Hypothesis_Testing_Assignment.ipynb
28-03-2022  17:26           124,687 Rakesh_S_Logistic_Regression_Assignment.ipynb
25-03-2022  19:35         2,249,662 Rakesh_S_Multi_linear_Regression_Assignment_5.ipynb
31-03-2022  13:20           178,373 Rakesh_S_PCA_assignment.ipynb
12-04-2022  15:42           136,138 Rakesh_S_Recommendation_System_Assignment.ipynb
24-03-2022  18:01           171,919 Rakesh_S_Simple_linear_Regression_Assignment_4.ipynb
25-03-2022  15:03           760,874 Rakesh_S_Simple_Linear_Regression_Assignment_4_.ipynb
13-05-2022  16:26           690,197 Rakesh_S_Text_Mining_Assignment_Elon_Musk.ipynb
08-04-2022  23:35           152,284 RandomForest_Company_Data.ipynb
08-04-2022  23:35            20,471 RandomForest_Fraud_check.ipynb
08-04-2022  23:35            20,555 Recommendation System.ipynb
08-02-2022  21:14         1,943,256 report.html
23-01-2022  14:42             2,126 Salaries.csv
22-03-2022  12:51               454 Salary_Data.csv
23-03-2022  13:43         1,694,474 SalaryData_Test.csv
23-03-2022  13:43         3,393,618 SalaryData_Train.csv
16-12-2021  15:52    <DIR>          Saved Games
07-02-2022  20:03            13,793 scatter_data.csv
10-02-2022  23:06    <DIR>          seaborn-data
16-12-2021  15:52    <DIR>          Searches
25-01-2022  12:12            35,319 Sequence.ipynb
25-01-2022  12:06            36,925 Series.ipynb
19-02-2022  15:18           100,099 Set_1_statistics_probability_assignment.ipynb
25-03-2022  14:57           377,078 SLR2.ipynb
28-11-2018  12:16           513,887 smsspamcollection.tsv
09-03-2022  22:50           120,676 Spacy-Basics.ipynb
25-01-2022  12:05            48,199 standardnormaltable.pdf
28-11-2018  12:16             7,326 stemming1.png
28-11-2018  12:16             7,909 stemming2.png
23-03-2022  13:42             4,158 stop.txt
08-04-2022  23:35            51,542 Support_Vector_Assignment_SlaryData.ipynb
08-04-2022  23:35            26,034 Support_Vector_Machine_ForestFires.ipynb
01-04-2022  12:54            51,354 Text Processing_Feature Extraction (1).ipynb
08-04-2022  23:35           700,355 Text_mining_Elon_musk.ipynb
28-11-2018  12:16            38,450 tokenization.png
23-03-2022  13:36             1,752 Toyota Corolla.txt
23-03-2022  13:36           224,041 ToyotaCorolla.csv
25-01-2022  12:05            12,671 t-table.pdf
23-01-2022  14:41               827 Universities.csv
11-02-2022  23:15            39,135 Untitled.ipynb
01-03-2022  11:51               588 Untitled1.ipynb
01-04-2022  13:01             9,712 Untitled2.ipynb
13-05-2022  16:29                72 Untitled3.ipynb
10-02-2022  23:05             8,100 UsedCarsBar.png
16-12-2021  15:52    <DIR>          Videos
08-02-2022  11:47           226,222 Visualization_Matplotlib.ipynb
10-02-2022  23:08           725,626 Visualization_Seaborn.ipynb
24-03-2022  11:21             1,170 WC_AT.csv
06-02-2022  19:58             1,172 wc-at.csv
08-02-2022  21:16           969,008 weather_report.html
23-03-2022  13:41            11,425 wine.csv
05-02-2022  18:34         1,251,579 zdist.pdf
             124 File(s)     33,409,823 bytes
              27 Dir(s)  48,928,522,240 bytes free

In [3]:
test=pd.read_csv('SalaryData_Test.csv')
train=pd.read_csv('SalaryData_Train.csv')

In [4]:
train=pd.merge(test,train)
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,43,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
1,43,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
2,37,Private,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
3,25,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
4,25,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5910 entries, 0 to 5909
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            5910 non-null   int64
 1   workclass      5910 non-null   object
 2   education      5910 non-null   object
 3   educationno    5910 non-null   int64
 4   maritalstatus  5910 non-null   object
 5   occupation     5910 non-null   object
 6   relationship   5910 non-null   object
 7   race           5910 non-null   object
 8   sex            5910 non-null   object
 9   capitalgain    5910 non-null   int64
 10  capitalloss    5910 non-null   int64
 11  hoursperweek   5910 non-null   int64
 12  native         5910 non-null   object
 13  Salary         5910 non-null   object
dtypes: int64(5), object(9)
memory usage: 692.6+ KB

In [6]:
train.workclass.unique()

array([' Private', ' Local-gov', ' Self-emp-inc', ' Federal-gov',
       ' Self-emp-not-inc', ' State-gov'], dtype=object)

In [7]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
train['workclass']= label_encoder.fit_transform(train['workclass'])

In [8]:
train.education.unique()

array([' Masters', ' HS-grad', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Assoc-acdm', ' 11th', ' 1st-4th', ' 7th-8th',
       ' 10th', ' Prof-school', ' 5th-6th', ' 12th', ' Doctorate', ' 9th',
       ' Preschool'], dtype=object)

In [9]:
train['education']= label_encoder.fit_transform(train['education'])

In [10]:
train.occupation.unique()

array([' Exec-managerial', ' Machine-op-inspct', ' Prof-specialty',
       ' Adm-clerical', ' Craft-repair', ' Other-service',
       ' Handlers-cleaners', ' Tech-support', ' Transport-moving',
       ' Protective-serv', ' Sales', ' Farming-fishing'], dtype=object)

In [11]:
train['occupation']= label_encoder.fit_transform(train['occupation'])

In [12]:
train.relationship.unique()

array([' Husband', ' Unmarried', ' Own-child', ' Not-in-family', ' Wife',
       ' Other-relative'], dtype=object)

In [13]:
train['relationship']= label_encoder.fit_transform(train['relationship'])

In [14]:
train.race.unique()

array([' White', ' Black', ' Asian-Pac-Islander'], dtype=object)

In [15]:
train['race']= label_encoder.fit_transform(train['race'])

In [16]:
train.sex.unique()

array([' Male', ' Female'], dtype=object)

In [17]:
train['sex']=label_encoder.fit_transform(train['sex'])

In [18]:
train.native.unique()

array([' United-States', ' Mexico', ' Jamaica', ' Philippines'],
      dtype=object)

In [19]:
train['native']=label_encoder.fit_transform(train['native'])

In [20]:
train.maritalstatus.unique()

array([' Married-civ-spouse', ' Widowed', ' Never-married', ' Divorced',
       ' Separated'], dtype=object)

In [21]:
train['maritalstatus']=label_encoder.fit_transform(train['maritalstatus'])

In [22]:
train.head(2)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,43,2,12,14,1,2,0,2,1,0,0,50,3,>50K
1,43,2,12,14,1,2,0,2,1,0,0,50,3,>50K

In [23]:
train.dtypes

age               int64
workclass         int32
education         int32
educationno       int64
maritalstatus     int32
occupation        int32
relationship      int32
race              int32
sex               int32
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native            int32
Salary           object
dtype: object

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(train, test_size = 0.25, random_state = 0)

In [25]:
X_train = X_train.iloc[:,:-1]
y_train = X_train.iloc[:,-1]
X_test =  X_test.iloc[:,:-1]
y_test = X_test.iloc[:,-1]

In [26]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [33]:
ignb = GaussianNB()

In [34]:
pred_gnb = ignb.fit(X_train,y_train).predict(X_test)

In [35]:
# Confusion matrix GaussianNB model
confusion_matrix(y_test,pred_gnb) # GaussianNB model
pd.crosstab(y_test.values.flatten(),pred_gnb) # confusion matrix using 
np.mean(pred_gnb==y_test.values.flatten())

1.0